* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgb(42, 116, 226);
    margin: auto;
    width: 60%;
    position: relative;
}

header {
    padding: 30px;
    margin-left: 50px;
    margin-top: 100px;
    color: white;
}

header p {
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
}

main {
   
    margin-left: 80px;
    color: white;
   
}

input {
    width: 200px;
    height: 30px;
    margin-top: 70px;
    background-color: rgb(32, 32, 204);
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}

.terra {
    display: flex;
    position: absolute;
    left: 360px;
    top: 100px
}

#terra-pq {
    //
}

input:hover {
    background-color: rgb(8, 8, 66);
    transition: 1s ease-in-out;
    cursor: pointer;
}
